@{
    ViewData["Title"] = "Complete";
}



<div class="slider-area style-1" style="margin-bottom:200px">
    <div class="container-fluid text-center">
        <div class="slider-text">
            <h2>Thank You</h2>
            <h3>Please Check Your Email</h3>
        </div>
    </div>
</div>
