@model Handy.Models.Brand
@{
    ViewData["Title"] = "AddOrEdit";
    Layout = null;
}

<div class="container-fluid">
    <form asp-action="AddOrEdit" asp-route-id="@Model.Id" onsubmit="return jQueryAjaxPost(this);" autocomplete="off">
        <div class="row">
            <div class="col-md-10 offset-1 col-10 col-lg-10 offset-lg-1">
                <div class="form-group">
                    <label>Sub Category</label>
                    <select asp-for="SubCategoryId" class="form-control" asp-items="ViewBag.SubCategory">   </select>
                    <span asp-validation-for="SubCategoryId" class="text-danger"></span>

                </div>
            </div>
            <div class="col-md-10 offset-1 col-10 offset-md-1 col-lg-10 offset-lg-1">
                <div class="form-group">
                    <input type="hidden" asp-for="Id" />
                    <label>Name</label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>

                </div>
            </div>


        </div>
        <div class="row">
            <div class="col-md-10 offset-1 col-10 col-lg-10 offset-lg-1">
                <div class="form-group">
                    <label>Status</label>
                    <select asp-for="BrandStatus" class="form-control">
                        <option value="Enable">Enable</option>
                        <option value="Disable">Disable</option>
                    </select>

                </div>
            </div>
            <div class="container d-flex justify-content-center align-items-center">
                <button type="submit" class="savebtn">Save</button>
            </div>
        </div>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}