@model IEnumerable<Handy.Models.Category>
@{
    ViewData["Title"] = "Default";
}

    @*<ul class="nav navbar-nav">
        @foreach (var item in Model)
        {
           <li class="nav-item">
               <a class="nav-link text-dark" asp-area="Admin" asp-controller="Category" asp-action="GetCategoryDetails" asp-route-id="@item.Id">@item.Name</a>
          </li>
        }
    </ul>*@

<ul class="dropdown-menu fade-up">
    @foreach (var item in Model)
    {
        <a asp-area="Customer" asp-controller="Home" asp-action="GetAllProductByCategory" asp-route-categoryId="@item.Id" class="dropdown-item">@item.Name</a>
    }
</ul>
