@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager


@if (SignInManager.IsSignedIn(User))
{
    @*<li>
            <a asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">@User.Identity.Name</a>
        </li>*@


    <li>
        <form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
          <button class="btn" type="submit" style="background-color: white;
        font-Size: 12px;
        color: #303030;
        font-weight: 400;
        position: relative;
        text-transform: uppercase;
        letter-spacing: 2px;
        margin-top: -4px">LOGOUT</button>
        </form>
    </li>


}
else
{
    <li><a asp-area="Customer" asp-controller="User" asp-action="Create">register</a></li>
    <li>
        <a asp-area="Identity" asp-page="/Account/Login">login</a>
        @*<a asp-area="Identity" asp-page="/Account/Login" data-toggle="modal" data-target="#loginModal"><i class="pe-7s-add-user"></i></a>*@

    </li>
}

