@model Handy.Models.AutoGenerateSerialNumber
@{
    ViewData["Title"] = "AddOrEdit";
    Layout = null;
}

<div class="container-fluid">
    <form asp-action="AddOrEdit" asp-route-id="@Model.Id" onsubmit="return jQueryAjaxPost(this);" autocomplete="off">
        <div class="row">
            <div class="col-md-10 offset-1 col-10 offset-md-1 col-lg-10 offset-lg-1">
                <div class="form-group">
                    <input type="hidden" asp-for="Id" />
                    <label>ModuleName</label>
                    <input asp-for="ModuleName" class="form-control" />
                    <span asp-validation-for="ModuleName" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-10 offset-1 col-10 col-lg-10 offset-lg-1">
                <div class="form-group">
                    <label>SeialNo</label>
                    <input asp-for="SeialNo" class="form-control" />
                    <span asp-validation-for="SeialNo" class="text-danger"></span>
                </div>
            </div>
            <div class="container d-flex justify-content-center align-items-center">
                <button type="submit" class="savebtn">Save</button>
            </div>
        </div>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
