 <!-- shop area start -->
<div class="shop-area ptb-90">
    <div class="container">
        <div class="section-title text-center">
            <h3>Your Account Has Been Created!</h3>
            <p>
                Congratulations! Your new account has been successfully created! <br />

                You can now take advantage of member privileges to enhance your online shopping experience with us.<br />

                If you have ANY questions about the operation of this online shop, please e-mail the store owner.<br />

                If you have registered using email address, please check your email for confirmation.<br />
            </p>
        </div>
     
    </div>
</div>
<!-- shop area end -->